@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --TechStop-Main: #cc7e00;
  --TechStop-Hover: #cc7e0033;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 0px !important;
  outline-offset: 0px !important;
  box-shadow: none !important;
}

.icon {
  @apply bg-[url('/SearchFilled.svg')]  bg-no-repeat bg-[length:24px_24px] bg-[center_right_12px];
}

.scrollShoppingCart::-webkit-scrollbar {
  width: 8px;
}

.scrollShoppingCart::-webkit-scrollbar-track {
  background: var(--TechStop-Hover);
  border-radius: 100px;
}

.scrollShoppingCart::-webkit-scrollbar-thumb {
  background: var(--TechStop-Main);
  border-radius: 100px;
}

.scrollShoppingCart::-webkit-scrollbar-thumb:hover {
  background: var(--TechStop-Main);
}
